.container {
  display: grid;
  /* grid-template-columns: 500px 500px; */
  grid-template-rows: 2fr;
  grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  justify-content: center;
}

.image_container {
  width: 500px;
  height: 500px;
}

.text_span {
  grid-column: span 2
}

.image {
  object-fit: contain;
  border: 1px solid grey
}

.button_as_text {
  text-decoration: none;
  font-size: 0.8rem;
  background-color: transparent;
  padding: 0;
  color: grey
}

.button_as_text:hover {
  color: #d22238;
  background-color: transparent;
}



@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, minmax(378px, 378px));
    padding: 0;
  }

  .image_container {
    width: 378px;
    height: 378px;
  }

  .text_span {
    grid-column: 1
  }
}