.container {
  display: flex;

}

.image_container {
  width: 50vw;
  height: 50vw;
}

.images_block_container {
  width: 50vw;
  margin-right: 20px
}

.text_span {
  grid-column: span 2
}

.image {
  object-fit: contain;
  border: 1px solid grey
}

.preview_image {
  object-fit: contain;
  border: 1px solid grey;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  cursor: pointer;
}

.button_as_text {
  text-decoration: none;
  font-size: 0.8rem;
  background-color: transparent;
  padding: 0;
  color: grey
}

.button_as_text:hover {
  color: #d22238;
  background-color: transparent;
}

.caption {
  font-size: 0.825rem;
  margin-bottom: 0;
}



@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    gap: 20px
  }

  .image_container {
    width: 95vw;
    height: 95vw;
  }

  .images_block_container {
    width: 100vw;
    margin-right: 20px
  }

  .bid_button {
    width: 95vw;
  }
}